<footer class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-12 center text-primary">
              <hr class="mx-auto border-default" style="width:100px">
              <ul class="list-inline socials mt-5 text-center">
                  <li class="list-inline-item"><a class='text-secondary' href="https://github.com/mattfemia"><i
                          class="fa fa-github"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.linkedin.com/in/mattfemia/"><i
                          class="fa fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.instagram.com/fattmemia/"><i
                          class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://twitter.com/mattfemia_"><i
                              class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.facebook.com/matt.femia"><i
                              class="fa fa-facebook"></i></a></li>
              </ul>
              <p class="mt-5 text-center">Copyright © 2023 Matt Femia</p>
          </div>
      </div>
  </div>
</footer>