attrs==20.3.0
blinker==1.4
boto3==1.17.95
botocore==1.20.95
click==7.1.2
coverage==5.5
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-WTF==0.14.3
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.1.0
idna==3.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.1
python-dotenv==0.17.1
s3transfer==0.4.2
six==1.16.0
toml==0.10.2
urllib3==1.26.5
Werkzeug==1.0.1
WTForms==2.3.3
zope.event==4.5.0
zope.interface==5.4.0
