<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <a class="navbar-link" href="http://127.0.0.1:5000/clonotypr/">clonotypr</a>
          <span class="version label label-default" data-toggle="tooltip" data-placement="bottom"
            title="Released version">0.4.0.9000</span>
        </span>
      </div>


      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="http://127.0.0.1:5000/clonotypr/">
              <span class="fas fa fas fa-home fa-lg"></span>

            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/clonotypr/articles/">Get started</a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/clonotypr/reference/">Reference</a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/clonotypr/changelog">Changelog</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://github.com/mattfemia/clonotypr/">
              <span class="fab fa fab fa-github fa-lg"></span>

            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container -->
  </div>

  <!--/.navbar -->

</header>

