<section class="section pb-0" id="about">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-12 mb-5 text-center text-md-start">
              <h2>About</h2>
          </div>
          <div class="col-12">
              <article class="card bg-dark rounded-0 border-0">
                  <div class="card-body">
                      
                      <p>
                        <strong>Current:</strong> Software Engineer @ Capital One. Founder & Owner of <a class='h5 text-primary' href="https://www.micrographer.com">Micrographer</a>. 
                    </p>
                    <p>
                        Experienced with Python, React.js, and AWS to create full-stack applications and developer tools. 
                    </p>
                    <p>
                        Featured speaker for SingleSprout's Tech Talk Series: "Serverless Architecture with AWS Lambda".
                    </p>
                    <p>
                        Find more of my work on <a class='h5 text-primary' href="www.github.com/mattfemia">GitHub</a>
                    </p>

                  </div>
              </article>
          </div>
      </div>
  </div>
</section>
<section class="section pb-0" id="">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-12">
                  <article class="card bg-dark rounded-0 border-0">
                  <div class="card-body">

                      <p class=''>
                          Technologies I've used in multiple settings:
                      </p>
                      <p>
                          <span class='h5 text-primary'>Programming: </span>Python, R, Bash, JavaScript [Node.js, React.js, Express.js, jQuery/Ajax]
                      </p>
                      <p>
                          <span class='h5 text-primary'>Bioinformatics: </span>Python, R
                      </p>
                      <p>
                          <span class='h5 text-primary'>Database Systems: </span>MySQL, MongoDB, Redis, AWS RDS/Aurora, AWS DynamoDB, AWS Elasticache
                      </p>
                      <p>
                          <span class='h5 text-primary'>DevOps & Cloud Tech: </span>Docker, AWS [VPC, IAM, EC2, ELB, ECS, SES, S3, Lambda, API Gateway, SNS, SQS, Batch]
                      </p>
                      
                  </div>
                  </div>
              </article>
          </div>
      </div>
  </div>
</section>