<section class="section pb-0" id="home">
  <div class="container">
      <div class="row">
          <div class="col-md-9 col-sm-12">
          
              <h1 class="display-1 font-weight-bold title mb-4 text-center text-md-start">Matt Femia<strong></strong></h1>
              <p class="h3 mb-5 text-center text-md-start">Software Engineer @ Capital One</p>
              <ul class="list-inline socials text-center text-md-start">
                  <li class="list-inline-item"><a class='text-secondary' href="https://github.com/mattfemia"><i
                          class="fa fa-github"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.linkedin.com/in/mattfemia/"><i
                          class="fa fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.instagram.com/fattmemia/"><i
                          class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://twitter.com/mattfemia_"><i
                          class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a class='text-secondary' href="https://www.facebook.com/matt.femia"><i
                          class="fa fa-facebook"></i></a></li>

              </ul>
          </div>
          <div class="col-md-3 col-sm-12">
                <img class="img-fluid rounded-lg mb-4" src="{{ url_for('static', filename='img/mattfemia.jpg') }}/" alt="Matt Femia">
          </div>
      </div>
  </div>
</section>