<section class="section pt-10 pt-sm-10 pb-0" id="experience">
  <div class="container">
      <div class="row">
          <div class="col-12 mb-5 text-center text-md-start">
              <h2>Professional Experience</h2>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0 active-experience">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://www.capitalone.com">
                              Capital One
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Software Engineer
                      </h5>
                      <p class='h6 text-primary'>September 2022 - Current</p>
                      <p>Fortune 500 financial corporation. Working within cyber engineering and architecture</p>
                  </div>
              </article>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0 active-experience">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://www.micrographer.com">
                              The Micrographer, LLC
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Founder & Owner
                      </h5>
                      <p class='h6 text-primary'>March 2020 - Current</p>
                      <p> eCommerce business selling open and limited edition microscope art prints.</p>
                  </div>
              </article>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://opensourcelabs.io/">
                              Open Source Labs
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Fullstack Software Engineer
                      </h5>
                      <p class='h6 text-primary'>March 2022 - June 2022</p>
                      <p> Open source accelerator. Developed AWS Lambda reporting/monitoring application</p>
                  </div>
              </article>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://www.mskcc.org/research-areas/labs/christopher-klebanoff">
                              Memorial Sloan Kettering
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Research Technician
                      </h5>
                      <p class='h6 text-primary'>March 2018 - February 2020</p>
                      <p> Research developing T-Cell immunotherapy treatments for breast cancer</p>
                  </div>
              </article>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://wmpeople.wm.edu/site/page/mrfemia/home">
                              William & Mary
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Teaching Assistant
                      </h5>
                      <p class='h6 text-primary'>August 2015 - May 2017</p>
                      <p> Teaching/Research assistantship program during Master's degree</p>
                  </div>
              </article>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <article class="card bg-dark rounded-0 border-0">
                  <img src="" alt="" class="card-img-top mb-4 rounded-0">
                  <div class="card-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://www.vet.cornell.edu/research/faculty/dwight-bowman-phd">
                              Cornell University
                          </a>
                      </h4>
                      <h5 class='text-secondary'>
                          Research Intern
                      </h5>
                      <p class='h6 text-primary'>May 2014 - May 2015</p>
                      <p> Research to create molecular detection methods for global zoonotic parasites</p>
                  </div>
              </article>
          </div>



          <!-- <div class="col-12 center text-primary mt-5"><a href=""
                  class="btn btn-primary btn-style">All Projects</a></div> -->
      </div>
  </div>
</section>