<section class="section pb-0" id="projects">
  <div class="container">
      <div class="row">
          <div class="col-12 mb-5 text-center text-md-start">
              <h2>Projects</h2>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="https://github.com/mattfemia/scrnaseq-pipeline" style="text-decoration: none;">
                              scRNA-seq Pipeline
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://github.com/mattfemia/scrnaseq-pipeline">Github</a>
                      </h6>
                      <p>Nextflow pipeline to run CellRanger and Scanpy on scRNA-seq data in an HPC environment</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Nextflow, Bash, Python (Scanpy), Docker, AWS Batch
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="https://seqbase.mattfemia.com/docs" style="text-decoration: none;">
                              SeqBase
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://seqbase.mattfemia.com/docs">API Docs</a>
                      </h6>
                      <p>Serverless API to both retrieve and query on metadata from NGS-based studies (RNAseq, VDJseq, ATACseq) from a manually-curated database of published data</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python (FastAPI), AWS [DynamoDB, Lambda, API Gateway]
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="https://www.micrographer.com" style="text-decoration: none;">
                              Micrographer
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://www.micrographer.com">Website</a>
                      </h6>
                      <p>eCommerce web application for dropshipping open and limited edition microscope art prints. Private admin dashboard for site, sale, and social analytics</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python (Flask, pandas, seaborn), MySQL, Docker, AWS (RDS, ECS, EC2, ElastiCache, ALB, Cloudfront, S3), Stripe API, Vendor API
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="https://www.immunovue.com" style="text-decoration: none;">
                              ImmunoVue
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://www.immunovue.com">Application</a>
                      </h6>
                      <p>Flask web application built using my Clonotypy package for analyzing single cell immune repertoire (RepSeq)</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python (Clonotypy, Flask, pandas, numpy, seaborn, matplotlib), MySQL, Docker, AWS (RDS, ECS, EC2, Cloudfront, S3)
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="/clonotypy" style="text-decoration: none;">
                              Clonotypy
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="/clonotypy">Basic Tutorial</a>
                      </h6>
                      <p>Python package to analyze single cell immune repertoire (RepSeq) data. Includes tools for formatting, analytics, plotting, and querying database APIs</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python: pandas, numpy, seaborn, matplotlib
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="https://github.com/mattfemia/iedb-python" style="text-decoration: none;">
                              IEDB Python SDK
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://github.com/mattfemia/iedb-python">Github Code</a> | <a href="https://pypi.org/project/iedb/">PyPI</a>
                      </h6>
                      <p>Python SDK for the Immune Epitope Database (IEDB) Analysis Tools API. Available on <a class='text-primary' href='https://pypi.org/project/iedb/'>PyPI</a></p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python: requests, pandas, unittest
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="http://immuno.mattfemia.com" style="text-decoration: none;">
                              ImmunoTools
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="http://immuno.mattfemia.com">Application</a>
                      </h6>
                      <p>R adaptation of Immunovue web application, built instead using my <a href="https://www.mattfemia.com/clonotypr">Clonotypr</a> package for analyzing RepSeq data</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> R (Shiny, clonotypr, bs4Dash, shinyjs, shinyFiles, DT, many more), Docker, AWS (MySQL, EC2, ELB, ECS, ECR, Cloudfront, S3)
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="/clonotypr" style="text-decoration: none;">
                              Clonotypr
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="/clonotypr">Documentation</a>
                      </h6>
                      <p>R Package for analyzing single cell immune repertoire (RepSeq) data. Includes tools for formatting, analytics, plotting, and querying database APIs</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> R: Seurat, dplyr, ggplot2, tidyr, stringb, networkd3, circlize, plotly, testthat
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="http://labstock.mattfemia.com" style="text-decoration: none;">
                              Labstock
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="https://github.com/mattfemia/labstock">Github Code</a> | <a href="http://labstock.mattfemia.com">Application</a>
                      </h6>
                      <p>Inventory and lab supply order tracking application for research lab settings. Open-access version of inventory app built while working in the <a href="https://www.mskcc.org/research-areas/labs/christopher-klebanoff">Klebanoff lab</a></p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class="text-primary"> Tech Stack:</span> Node.js, Express.js, MongoDB, Docker, AWS [ECS, ECR, EC2]
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-1">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="h3">
                          <a href="#" style="text-decoration: none;">
                              MattFemia
                          </a>
                      </h4>
                      <h6 class="text-secondary">
                          <a href="#">This site!</a>
                      </h6>
                      <p>My digital resume and freelance staging site. Subdomain routes map to many of my personal web applications (a few listed above!)</p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item">
                              <span class='text-primary'> Tech Stack:</span> Python (Flask), Heroku
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
         
          
      </div> <!-- end row -->
  </div> <!-- end container -->
</section> 