<section class="section pb-0" id="publication">
  <div class="container">
      <div class="row">
          <div class="col-12 mb-5 text-center text-md-start">
              <h2>Publications</h2>
          </div>
          <div class="col-md-12 col-sm-6 mb-4">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <div class="media-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7698992/">
                              TOX is a critical regulator of tumour-specific T cell differentiation
                          </a>
                      </h4>
                      <p>July 2019 — <a href="https://www.nature.com/articles/s41586-019-1324-y">Nature</a></p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7698992/">Full Article</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-6 mb-4">
              <div class="media align-items-md-center flex-column flex-md-row">
                  <!-- <img src="assets/img/med1.jpeg" class="img-fluid mr-md-4 mb-4 mb-md-0" alt=""> -->
                  <div class="media-body text-center text-md-start">
                      <h4 class="mb-3">
                          <a href="https://pubmed.ncbi.nlm.nih.gov/31692077/">
                              Mediator subunit MED1 modulates intranuclear dynamics of the thyroid hormone receptor
                          </a>
                      </h4>
                      <p>April 2020 — <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/jcb.29532">Journal of Biochemistry</a></p>
                      <ul class="btn-link-group list-inline">
                          <li class="list-inline-item"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7456519/">Full Article</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
         
          
      </div> <!-- end row -->
  </div> <!-- end container -->
</section> 